body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(myBackground.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 1300pt;
    text-align: center;
    min-width: 50%; /* <--- Notice the use of the pt unit */
    max-width: 100%;
    min-height: 1300px;

  }
  /* What kind of selector is this? */
  .logo {
    width: 150px;
    height: 150px;
    margin: 1% 5%;
    background-color: rgba(240, 240, 240, 0.4);
    border-radius: 50%;
    -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
    filter: grayscale(90%);
  }

  header {
    display: grid;
    grid-template-columns:    'header header header header header header'
    'left left middle middle right right' 
    'footer footer footer footer footer footer';
 
  }

  main {
    height: auto;
    width: 100%;
    display: grid;
    margin: auto;
    min-width: 200pt; /* <--- Notice the use of the pt unit */
    max-width: 900pt;
    min-height: 150pt;
    max-height: 2000pt;
    background-color: rgba(240, 240, 240, 0.4);
    border-radius: 3%;
}
  /* This is an element within and element selector */ 
  nav > a {
    margin: 1% 1% 1% 1%;
    color: white;
    font-family: "Poiret One", cursive;
    font-size: 20pt;
    text-align: center;
    background: rgb(135,89,129);
    width: 30%;
    min-width: 80pt;
    height: 25pt;
    padding: 8pt;
    letter-spacing: 12px;
  }

  .has-border {
    border-radius: 25px;
    border: 2px solid #2d0a5a;
    background: none;
  }

  .leftcolumn {   
    float: left;
    width: 25%;
    margin-top: 50pt;
  }

  .rightcolumn {
    float: left;
    width: 25%;
    margin-left: 80pt;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    height: 100pt;
    background-color:rgb(40, 37, 44);
    overflow: hidden;
    float: right;
    margin-bottom: 100pt;
    width: 100;
  }

  /* This is an ID selector */
  #profile-pic {
    width: 300px;
    height: 400px;
    border-radius: 50%;
    margin: 5% auto;
    grid-column: 2/3;
    -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
    filter: grayscale(90%);
  }

  h1 {
    color: rgb(135,89,129);
    grid-column: 2/3;
    margin: auto;
    margin-top: 20pt;
    border-bottom: 2px solid whitesmoke;
    width: 500px;
    font-size: 75pt;
    font-family: 'Licorice', cursive;
    text-align: center;
  }

  h2 {
    grid-column: 2/3;
    margin: 1% auto;
    font-style: italic;
    width: 500px;
    font-size: 20pt;
    font-family: "Poiret One", cursive;
    text-align: center;
  }

  .small-text {
    grid-column: 2/3;
    color: white;
    font-size: 10px;
    margin: 3% auto;
  }

  footer {
    color: lightsteelblue;
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid whitesmoke;
    width: 100%;
    font-family: cursive;
    text-align: center;
  }
  
section {
    text-align: center;
    grid-column: 2/3;
    overflow: hidden;

}

  
button {
    grid-column: 2/3;
    margin-top: 50pt;
    margin-bottom: 50pt;
    width: 130pt;
    font-family: "Poiret One", cursive;
    font-size: 15px;
    border-color: black;
    background-color: rgb(135,89,129);
    padding: 10px;
    text-align: center;
    color: white;
    letter-spacing: 8px;
  }